workflows/core/01-customer-support-agent.json
{
  "name": "Customer Support Agent Workflow",
  "nodes": [
    {
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "customer-support",
        "method": "POST",
        "responseMode": "onReceived"
      },
      "name": "webhook_trigger"
    },
    {
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "parameters": {
        "model": "gpt-4",
        "prompt": "You are a helpful customer support agent. Analyze the customer query and provide appropriate assistance.",
        "tools": [
          "web_search",
          "knowledge_base",
          "ticket_system"
        ],
        "temperature": 0.7
      },
      "name": "ai_agent"
    },
    {
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "parameters": {
        "functionCode": "const response = {\n  status: 'success',\n  message: $json.output,\n  metadata: {\n    timestamp: new Date().toISOString(),\n    agentModel: 'gpt-4',\n    confidence: $json.confidence || 0.95\n  }\n};\nreturn response;"
      },
      "name": "response_formatter"
    },
    {
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "name": "http_response"
    }
  ],
  "connections": {
    "webhook_trigger": {
      "main": [
        [
          {
            "node": "ai_agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ai_agent": {
      "main": [
        [
          {
            "node": "response_formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "response_formatter": {
      "main": [
        [
          {
            "node": "http_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionTimeout": 30,
    "maxExecutionTime": 60,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  }
}